{% macro render_journal_post(post, from_index=false) %}
<hr />
<div class="my-4">
  {% if from_index %}
  <h2><a href="{{ post|url }}" class="no-underline">{{ post.title }}</a></h2>
  {% else %}
  <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="text-xs">
    written by {% if post.twitter_handle %}
    <a
      href="https://twitter.com/{{ post.twitter_handle
        }}"
      >{{ post.author or post.twitter_handle }}</a
    >
    {% else %} {{ post.author }} {% endif %} on {{ post.pub_date }}
  </p>
  <div class="leading-tight mb-24">{{ post.body }}</div>
</div>
{% endmacro %}
