{% extends "layout.html" %} {% block title %}{{ this.title }}{% endblock %} {%
block body %}
<!-- <h2>{{ this.title }}</h2> -->
<!-- <a href="/journal/sparkle-labs-at-hope-iv"> -->
<!-- <div class="p-2 flex justify-between content-center items-center bg-aqua-light rounded shadow text-aqua-dark"> -->
<!-- <div class="mx-8"> -->
<!-- We will give our <em>Emergent Objects</em> workshop at <strong>HOPE XV</strong>! -->
<!-- </div> -->
<!-- <img src='/journal/sparkle-labs-at-hope-iv/hopexv-logo.png' class='max-w-32'/> -->
<!-- </div> -->
<!-- </a> -->
<div
  class="h-[calc(100vh-106.5px)] flex flex-col justify-center mix-blend-multiply"
>
  <!--this could be markdown in the body field-->
  <div class="mx-auto mb-24">
    <h1
      class="font-black text-5xl sm:text-6xl md:text-7xl text-fire uppercase mb-1"
    >
      High-Design Electronics Kits
    </h1>
    <h1
      class="font-black text-3xl sm:text-4xl md:text-5xl text-aqua mb-6 md:mb-10"
    >
      For art and commerce
    </h1>
    <a class="" href="/shop">
      <img
        id=""
        class="lg:-translate-x-4"
        src="{{ this.hero }}"
        alt="Default Image"
      />
    </a>
    {{ this.body }}
  </div>
</div>

<div class="flex flex-col md:flex-row gap-5">
  <div class="md:w-1/2 not-prose">{{ this.topleftcol }}</div>
  <div class="md:w-1/2">{{ this.toprightcol }}</div>
</div>

<div class="flex flex-col md:flex-row gap-5 mt-40">
  <div class="md:w-1/2">{{ this.leftcol }}</div>
  <div class="md:w-1/2 not-prose">{{ this.rightcol }}</div>
</div>
{% endblock %}
