<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Inter:wght@100;400;700;900&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ '/static/grd.css'|url }}"> -->
  <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  <title>{% block title %}Welcome{% endblock %}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    window.onload = function () {
        $('#thumbs img').click(function(){
            $('#productimage').attr('src',$(this).attr('src').replace('thumb','large'));
            // $('#description').html($(this).attr('alt'));
        });
    };
  </script>
  <body class="">
    <main class="container min-h-screen mx-auto max-w-5xl flex flex-col justify-between">
          <header class="m-3 sm:m-5 flex justify-between">
            <div class="flex flex-col sm:flex-row items-center sm:items-end sm:gap-0.5">
              <div class="sm:w-[38px]">
              <a href="{{ '/'|url }}">
                <img id="logo" src="{{ '/static/logo_flask.svg'|url }}" alt="Ehrlenmeyer Flask Logo" class="w-12">
              </a>
              </div>
              <div>
              <a href="{{ '/'|url }}" class="no-underline">
                <h1 class="font-bold text-black text-2xl">Sparkle Labs</h1>
              </a>
              </div>
            </div>
            <nav class="sm:h-min sm:self-end">
              <ul class="h-full sm:h-min flex flex-col sm:flex-row justify-between sm:self-end sm:gap-6">
                <li{% if this._path == '/' %} class="active"{% endif %}>
                  <!-- <a href="{{ '/'|url }}">Home</a></li> -->
                {% for href, title in [
                ['/shop', 'Shop'],
                ['/learn', 'Learn'],
                ['/journal', 'Journal'],
                ['/about', 'About']
                ] %}
                <li{% if this.is_child_of(href) %} class="active"{% endif
                      %}><a href="{{ href|url }}" class="">{{ title }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </header>
          <div class="m-3 sm:m-5">
          {% block body %}{% endblock %}
          </div>
        <footer class="m-3 sm:m-5 mt-8 text-xs">
          <hr>
          <div class="flex flex-wrap justify-between items-center">
            <div>
              <!-- 📬<a href="">email us</a>  📷<a href=""> instagram</a> ☎<a href="">(212) 777-8051</a> -->
              <a href="mailto:website@sparklelabs.com">email us</a> &#65093; <a href="https://www.instagram.com/sparklelabs">instagram</a> &#65093; <a href="tel:212-777-8051">(212) 777-8051</a>
            </div>
            <div style="display:flex;align-items:center;gap:8px;flex-wrap:wrap">
              <span style="">&copy; Sparkle Labs</span>
              <div class="flex gap-px max-h-[8px]">
                <div class="text-dragonfruit bg-dragonfruit max-w-[14px]">
                  `
                </div>
                <div class="text-fire bg-fire max-w-[14px]">
                  `
                </div>
                <div class="text-mandarin bg-mandarin max-w-[14px]">
                  `
                </div>
                <div class="text-gold bg-gold max-w-[14px]">
                  `
                </div>
                <div class="text-leaf bg-leaf max-w-[14px]">
                  `
                </div>
                <div class="text-aqua bg-aqua max-w-[14px]">
                  `
                </div>
                <div class="text-plum bg-plum max-w-[14px]">
                  `
                </div>
              </div>
            </div>
          </div>
        </footer>
    </main>
  </body>
</html>
