body {
/* font-size: calc(10px + 0.390625vw); */
font-size: calc(7px + .8vw);
}
h2 {
font-size: 4em;
}
.row {
display:flex;
gap: 16px;
flex-direction: column;
margin-bottom: 1em;
}
.wrap {
flex-wrap: wrap;
}
/* .row .row { margin:  0 -1.5em; } */
/* .col      { padding: 0  1.5em; } */

/* .row:after { */
/* content: ""; */
/* clear: both; */
/* display: table; */
/* } */

.row:first-of-type {
/* margin-bottom: 1em; */
}

.col {
/* float: left; */
width: 100%;
/* box-sizing: border-box; */
/* padding-left: 0px; */
/* padding-right: 0px; */
}

.column {
}

blockquote:first-child {
margin-top: 0px;
}

.half {
width: 100%;
}
.quarter {
width: 50%;
}
main {
margin: auto;
max-width: 1200px;
}

.page {
margin-left: 32px;
margin-right: 32px;
}

#thumbs {
width: 100%;
display: flex;
gap:17px;
}

@media only screen and (min-width: 480px) {
#thumbs {
width: 15%;
flex-direction: column;
}
.w90 {
width: 90%;
}
body {
}

.page {
margin-left: 42px;
margin-right: 42px;
}
h2 {
}
.row {
flex-direction: row;
}
.half {
    width: 50%;
}
.quarter {
width: 50%;
}

.halfimg p img {
width: 50%;
}
/* .col:first-of-type { */
/* padding-left: 0px; */
/* } */

/* .col:last-of-type { */
/* padding-right: 0px; */
/* } */

.gallery {
display:grid;
grid-template-columns: repeat(4, minmax(0, 1fr));;
}
.gallery .col {
/* width:25%; */
}
}

@media only screen and (min-width: 1200px) {
.page {
/* margin-left: 0; */
/* margin-right: 0; */
}
body {
font-size: 16.53px;
}
.gallery .col {
}

}
