body {
    /* font-size: calc(10px + 0.390625vw); */
    font-size: calc(7px + .8vw);
}
h2 {
    font-size: 4em;
}
.row {
    display:flex;
    gap:1.5rem;
    flex-direction: column;
}
/* .row .row { margin:  0 -1.5em; } */
/* .col      { padding: 0  1.5em; } */

/* .row:after { */
/* content: ""; */
/* clear: both; */
/* display: table; */
/* } */

.row:first-of-type {
 margin-bottom: 3em;
}

.col {
/* float: left; */
width: 100%;
/* box-sizing: border-box; */
/* padding-left: 0px; */
/* padding-right: 0px; */
}

blockquote:first-child {
    margin-top: 0px;
}

.half {
    width: 100%;
}
.quarter {
width: 50%;
}

main {
margin: auto;
max-width: 1200px;
}

.page {
margin-left: 1rem;
margin-right: 1rem;
}

@media only screen and (min-width: 1200px) {
.page {
    margin-left: 0;
    margin-right: 0;
}
body {
font-size: 16.53px;
}

}
@media only screen and (min-width: 860px) {
body {
}
h2 {
}
.row {
flex-direction: row;
}
/* .half { */
/*     width: 100%; */
/* } */
/* .quarter { */
/* width: 50%; */
/* } */

/* .col:first-of-type { */
/* padding-left: 0px; */
/* } */

/* .col:last-of-type { */
/* padding-right: 0px; */
/* } */

}
