:root {
--white: #f5f7e9;
--black: #27181f;
--pink: #ec5999ff;
--red: #ff595eff;
--orange: #f7802bff;
--yellow: #ffca3aff;
--green: #8ac926ff;
--blue: #1AA5C4ff;
--violet: #7f5fadff;
--grey: #aaa;
--darkgrey: #555;
}


body {
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    margin: 0px 0px;
    background-color: var(--white);
    color: var(--black);
}

.whitebackground {
  background-color:var(--white);
}
.pinkbackground {
  background-color:var(--pink);
}
.redbackground {
  background-color:var(--red);
}
.orangebackground {
  background-color:var(--orange);
}
.yellowbackground {
  background-color:var(--yellow);
}
.greenbackground {
  background-color:var(--green);
}
.bluebackground {
  background-color:var(--blue);
}
.violetbackground {
  background-color:var(--violet);
  color:var(--white);
}

#logolockup {
 display:flex;
 flex-direction: column;
 align-items:center;
 gap: 2px;
}

#logo {
  bottom:0px;
  width:44px;
}

#logotype {
font-size:1.4em;
color:var(--black);
margin:0px 0px 0px 0px;
}

.inline {
display: inline;
}

div.page {
    /* width: 960px; */
    display: flex;
    /* margin: 0 auto; */
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
    /* padding: 3em 3em; */
}
main {
  /* position: relative; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
}

header {
    /* padding-bottom: 1em; */
}

footer {
  width: 100%;
  /* height: 48px;            /\* Footer height *\/ */
  margin-bottom: 12px;
  /* position: relative; */
  font-weight: 500;
}

#content-wrap {
  padding-bottom: 24px;    /* Footer height */
}


h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 330%;
    margin-bottom: .25em;
    margin-top: 0em;
    line-height: 100%;
}

h3 {
    color: var(--violet);
    text-transform: uppercase;
    margin-bottom: 12px;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    line-height: 28px;
    /* font-weight: 400; */
    /* font-size: 80%; */
    margin: 0 8px 0 0;
    padding: 0;
}

header a {
    text-decoration: none;
}
header nav ul li a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--pink);
}

footer a {
  color:var(--black);
  text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--pink);
}

div.page {
}

ul, ol {
  padding-left:0;
}

ul ul, ol ol {
  /* margin-left:-1em; */
  padding-left:0;
  list-style-position:inside;
}

ul {
  /* list-style-type: circle; */
}

li::marker {
  color: var(--orange);
}

img {
    width: 100%;
}

blockquote {
    font-size: 250%;
    line-height: 130%;
    font-weight: 200;
    /* font-family: 'IBM Plex Mono', monospace; */
    margin-left: inherit;
    margin-right: inherit;
    text-align: left;
}

.tiny {
    font-size: 80%;
}
label {
 font-weight:500;
 position: absolute;
 top: -18;
}
.itemwidget {
  margin-bottom: 1em;
  font-weight: 400;
}

.itemlabel {
font-weight: 500;
 margin-top: 4px;
}

fourthree {
  aspect-ratio: 4 / 3;
  border:2px;
}

p:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
    margin-top: 0px
}
p:last-of-type {
    margin-bottom: 0px
}

button, select {
	display: inline-block;
	height: 36px;
	padding: 0 12px;
	text-align: center;
	/* font-size: 100%; */
	font-weight: 400;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: border-box;
  color: var(--black);
  background-color: var(--white);
	border: 1px solid var(--black);
}
.price button {
  /* background-color: var(--yellow); */
}
  .price {
    display:flex;
    flex-wrap: wrap;
    align-items:left;
    /* justify-content:space-between; */
    margin-bottom:6em;
  }
button:hover, select:hover {
	/* color: var(--white); */
  background-color: var(--blue);
	/* border: 1px solid var(--blue); */
}

.section {
    margin-bottom: 24px;
}

hr {
  border: none;
    border-top: 2px dotted var(--yellow);
}

a {
    color: var(--blue);
    text-decoration-style: dotted;
    text-decoration-color: var(--green);
}
a:visited {
    /* color: var(--violet); */
}
a:hover {
    /* color: var(--pink); */
    text-decoration-style: wavy;
    text-decoration-color: var(--pink);
    /* text-decoration-color: var(--blue); */
}

.multiply {
  mix-blend-mode:multiply;
}
/* .productImage{ */
/*   img#largeImage{ */
/*     height:500px; */
/*     box-shadow: */
/*         0px 2px 5px rgba(0,0,0,0.5), */
/*         0px -2px 5px rgba(0,0,0,0.5); */
/*   } */
/* } */

#description{
  padding:5px;
  margin:10px 0;
  color:rgba(0,0,0,0.5);
}


@media only screen and (min-width: 480px) {
  header nav {
    margin-bottom: 2px;
  }
  header nav ul li {
      display: inline;
      line-height: 0px;
  }

  h2 {
    font-size: 400%;
  }

  #logolockup {
  flex-direction: row;
  align-items:flex-end;
  }

  .price {
    display:flex;
    align-items:center;
    /* justify-content:space-between; */
    margin-bottom:6em;
  }

  #logo {
    width:38px;
  }

  #logotype {
  }

  button, select {
    height: 42px;
    padding: 0 18px;
  }

  .justify {
      text-align: justify;
  }
  .price form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 1200px) {
#logotype {
font-size:2em;
}
}
