:root {
--white: #f5f7e9;
--black: #27181f;
--pink: #ec5999ff;
--red: #ff595eff;
--yellow: #ffca3aff;
--green: #8ac926ff;
--blue: #1AA5C4ff;
--violet: #6a4c93ff;
--grey: #aaa;
--darkgrey: #555;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    margin: 0px 0px;
	background-color: var(--white);
    color: var(--black);
}

a {
}

a:hover {
}

header, footer, div.page {
    /* width: 760px; */
    margin: 0 auto;
    padding: 3em 3em;
}
header {
    padding-bottom: 1em;
}

h2 {
    font-weight: 400;
    font-size: 500%;
    margin-bottom: .25em;
    margin-top: 0em;
}

h3 {
    color: var(--pink);
	text-transform: uppercase;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    font-weight: 400;
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
}

div.page {
}

img {
    width: 100%;
}

blockquote {
    font-size: 250%;
    line-height: 130%;
    font-weight: 200;
    /* font-family: 'IBM Plex Mono', monospace; */
    margin-left: inherit;
    margin-right: inherit;
    text-align: left;
}

.tiny {
    font-size: 60%;
}

p:first-of-type {
    margin-top: 0px
}
p:last-of-type {
    margin-bottom: 0px
}

button, select {
	display: inline-block;
	height: 38px;
	padding: 0 20px;
	text-align: center;
	font-size: 100%;
	font-weight: 400;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: border-box;
    color: var(--darkgrey);
    background-color: var(--white);
	border: 1px solid var(--darkgrey);
}
button:hover, select:hover {
	color: var(--white);
    background-color: var(--blue);
	border: 1px solid var(--blue);
}

.section {
    margin-bottom: 1.5em;
}

hr {
    border: 1px dashed var(--grey);
}

a {
    color: var(--blue);
}
a:visited {
    /* color: var(--violet); */
}
a:hover {
    color: var(--green);
}

.justify {
    text-align: justify;
}

.productImage{
  img#largeImage{
    height:500px;
    box-shadow:
        0px 2px 5px rgba(0,0,0,0.5),
        0px -2px 5px rgba(0,0,0,0.5);
  }
}

#description{
  padding:5px;
  margin:10px 0;
  color:rgba(0,0,0,0.5);
}

#thumbs {
  img {
    /* height:50px; */
    /* cursor:pointer; */
  }
}
