.row .row { margin:  0 -1.5em; }
.col      { padding: 0  1.5em; }

.row:after {
content: "";
clear: both;
display: table;
}

.row:first-of-type {
 margin-bottom: 3em;
}

.col {
float: left;
width: 100%;
box-sizing: border-box;
/* padding-left: 0px; */
/* padding-right: 0px; */
}

blockquote:first-child {
    margin-top: 0px;
}

.half {
    width: 100%;
}
.quarter {
width: 50%;
}

main {
margin: auto;
max-width: 1200px;
}

.inline {
display: inline;
}

@media (min-width: 725px) {
.half {
    width: 50%;
}
.quarter {
width: 24.5%;
}

.col:first-of-type {
padding-left: 0px;
}

.col:last-of-type {
padding-right: 0px;
}

}
