{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- <h2>{{ this.title }}</h2> -->
<div style="padding-top:64px">
  <!--this could be markdown in the body field-->
  <a href="/shop">
  <img id="" class="" src="{{ this.hero }}" alt="Default Image">
  </a>
</div>
{{ this.body }}
<div class="row" style="margin-top:10vw;display:flex;align-items:stretch;min-height:300px">
  <div class="col" style="">
    {{ this.leftcol }}
  </div>
  <div class="col" style="">
    {{ this.rightcol }}
  </div>
</div>
{% endblock %}
