<!doctype html
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Inter:wght@100;400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/grd.css'|url }}">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — sparklesitelek</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  window.onload = function () {
      $('#thumbs img').click(function(){
          $('#productimage').attr('src',$(this).attr('src').replace('thumb','large'));
          // $('#description').html($(this).attr('alt'));
      });
  };
</script>
<body>
  <main>
    <div class="page">
      <div id="content-wrap">
        <header style="margin-top:24px;margin-bottom:24px;display:flex;justify-content:space-between;align-items:flex-end">
          <div class="" style="display:flex;align-items:flex-end">
            <a href="{{ '/'|url }}">
              <img id="logo" src="{{ '/static/logo_flask.svg'|url }}" alt="Default Image" style="bottom:0px;max-width:38px">
            </a>
            <a href="{{ '/'|url }}">
              <h1 style="margin:0px 0px 0px 4px;font-size:2em;color:var(--black)">Sparkle Labs</h1>
            </a>
          </div>
          <nav style="padding-left:4px;display:flex;align-items:flex-end">
            <ul class=" nav navbar-nav">
              <li{% if this._path == '/' %} class="active"{% endif %}>
                <!-- <a href="{{ '/'|url }}">Home</a></li> -->
              {% for href, title in [
              ['/shop', 'Shop'],
              ['/learn', 'Learn'],
              ['/journal', 'Journal'],
              ['/about', 'About']
              ] %}
              <li{% if this.is_child_of(href) %} class="active"{% endif
                    %}><a href="{{ href|url }}">{{ title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
        </header>
        {% block body %}{% endblock %}
      </div>
      <footer class="tiny" style="padding-top:3em">
        <hr>
        <div style="display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;gap:8px">
          <div>
            <!-- 📬<a href="">email us</a>  📷<a href=""> instagram</a> ☎<a href="">(212) 777-8051</a> -->
            <a href="mailto:website@sparklelabs.com">email us</a> &#65093; <a href="https://www.instagram.com/sparklelabs">instagram</a> &#65093; <a href="tel:212-777-8051">(212) 777-8051</a>
          </div>
          <div style="display:flex;align-items:center;gap:8px;flex-wrap:wrap">
            <span style="">&copy; Sparkle Labs</span>
            <div style="display:flex;gap:1px;max-height:8px">
              <div style="color: var(--pink); background-color: var(--pink); max-width:14px">
                `
              </div>
              <div style="color: var(--red); background-color: var(--red); max-width:14px">
                `
              </div>
              <div style="color: var(--orange); background-color: var(--orange); max-width:14px">
                `
              </div>
              <div style="color: var(--yellow); background-color: var(--yellow); max-width:14px">
                `
              </div>
              <div style="color: var(--green); background-color: var(--green); max-width:14px">
                `
              </div>
              <div style="color: var(--blue); background-color: var(--blue); max-width:14px">
                `
              </div>
              <div style="color: var(--violet); background-color: var(--violet); max-width:14px">
                `
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
</body>
