{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="">
  {% if this.show_parent == True %}
  <a href='{{ this.parent|url }}'>
 {{ this.parent.title }}
 </a>
{% endif %}
  <h2>{{ this.title }}</h2>
  {% if this.show_mainimage == True %}
  {% if this.file_download %}
  <a href="{{ this.file_download }}">
           {% endif %}
<img id="largeImage" src="{{ this.mainimage }}">
  {% if this.file_download %}
  </a>
           {% endif %}
<div style="margin-bottom:2em"></div>
{% endif %}
  {{ this.body }}
<div style="margin-bottom:2em"></div>
      {% if this.downloads %}
    <div class="section quarter" style="margin-bottom:2em;">
      <h3>Downloads</h3>
      {% for line in this.downloads %}
      {% set items = site.query('/downloads') %}
      {% for item in items %}
      {% if item.title == line %}
      <div style="margin-bottom:1em">
      <a href="{{ item|url }}{{ item.file_download }}" >
        <img src="{{ item|url }}{{ item.mainimage }}">
        {{ item.title }}
      </a>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
      {% endif %}
<div style="margin-bottom:2em"></div>
      {% if this.goeswith %}
    <div class="section quarter" style="margin-bottom:2em;">
      <h3>Goes with</h3>
      {% for line in this.goeswith %}
      {% set items = site.query('/shop') %}
      {% for item in items %}
      {% if item.title == line %}
      <div style="margin-bottom:1em">
      <a href="{{ item|url }}" >
        <img src="{{ item|url }}{{ item.mainimage }}">
        {{ item.title }}
      </a>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
      {% endif %}
  </div>
{% endblock %}
