{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<h2>{{ this.title }}</h2>
<div class="row">
  <div class="col w90">
    {{ this.gallery }}
    <div class="productImage">
      <img id="largeImage" src="{{ this.mainimage }}" alt="Default Image">
      <!-- <div id="description">Default Description</div> -->
    </div>
  </div>
  <div class="col" id="thumbs">
    {% for image in this.attachments.images %}
    <div style="flex:1 1 0">
      <img src="{{ image|url }}" style="object-fit:cover">
    </div>
    {% endfor %}
  </div>
</div>
<div class="section" style="margin-bottom:6em">

  <span style="font-size:600%;font-weight:100">
    <sup style="font-size:47%;font-weight:400">$</sup>{{ this.price }}
  </span>

  <FORM ACTION="http://www.shopslabs.com/Shop_landing.php" METHOD="get" name="form" style="margin-left:2.4em">
    <INPUT NAME="item" TYPE="hidden" VALUE="{{ this.shopslabsnum }}" />
    <INPUT NAME="price" TYPE="hidden" VALUE="{{ this.price }}" />
    <INPUT NAME="store" TYPE="hidden" VALUE="sparkle" />
    <INPUT NAME="do" TYPE="hidden" VALUE="add" />
    {% if this.size %}
    <select name="size">
      {% for item in this.size %}
      <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>
    {% endif %}
    {% if this.color %}
    <select name="color">
      {% for item in this.color %}
      <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>
    {% endif %}
    <select name="qty">
      <option selected="selected" value="1" >1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
    </select>

    <button alt="Add To Cart" name="Submit" id="Submit" value="ADD TO BAG">
      Add to cart
    </button>
  </FORM>
</div>
<hr>
<div class="row" style="gap:4em;">
  <div class="col justify">
    {{ this.body }}
    {% if this.graphics %}
    <div class="half" style="margin-top:2em">
      {% for item in this.graphics %}
      <img src="/static/graphics/{{ item }}" alt="infographic">
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="col half" style=''>
      {% if this.lessons %}
    <div class="section">
      <h3>Learn</h3>
      {% for line in this.lessons %}
      {% set items = site.query('/learn') %}
      {% for item in items %}
      {% if item.title == line %}
      <div style="margin-bottom:1em">
      <a href="{{ item|url }}" >
        <img src="{{ item|url }}{{ item.mainimage }}">
        {{ item.title }}
      </a>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
      {% endif %}
      {% if this.downloads %}
    <div class="section">
      <h3>Downloads</h3>
      {% for line in this.downloads %}
      {% set items = site.query('/downloads') %}
      {% for item in items %}
      {% if item.title == line %}
      <div style="margin-bottom:1em">
      <a href="{{ item|url }}{{ item.file_download }}" >
        <img src="{{ item|url }}{{ item.mainimage }}">
        {{ item.title }}
      </a>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
      {% endif %}
      {% if this.goeswith %}
    <div class="section">
      <h3>Goes with</h3>
      {% for line in this.goeswith %}
      {% set items = site.query('/shop') %}
      {% for item in items %}
      {% if item.title == line %}
      <div style="margin-bottom:1em">
      <a href="{{ item|url }}" >
        <img src="{{ item|url }}{{ item.mainimage }}">
        {{ item.title }}
      </a>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
      {% endif %}
  </div>
</div>
{% endblock %}
