{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="section">
  <h2>{{ this.title }}</h2>
  <div class="row wrap gallery" style="">
    {% for product in site.get('/shop').children.order_by('sort_key') %}
      {% if this == product %} class="active"{% endif
        %}
    {% if product.accessory != True %}
      <div class="itemwidget">
      <a href="{{ product|url }}"><div class="itempic"><img src="{{ product|url }}{{ product.mainimage }}"></div><div class="itemlabel">{{ product.title }}</div></a>
      </div>
    {% endif %}
    {% endfor %}
  </div>
  </div>

  <div class="section" style="margin-top:2em">
  <h2>Accessories</h2>
  <div class="row wrap gallery" style="">
    {% for item in this.children %}
      {% if this == item %} class="active"{% endif
        %}
    {% if item.accessory == True %}
      <div class="itemwidget">
      <a href="{{ item|url }}"><div class="itempic"><img src="{{ item|url }}{{ item.mainimage }}"></div><div class="itemlabel">{{ item.title }}</div></a>
      </div>
    {% endif %}
    {% endfor %}
  </div>
  </div>
{% endblock %}
